@CHARSET "UTF-8";

ul.views-fluid-grid-items-width-379 li.views-fluid-grid-item { 
	width: 377px; 
}

ul.views-fluid-grid-items-height-379 li.views-fluid-grid-item { 
	background-color:white;
	margin:1px;
	border:none;
	padding-bottom:20px;
}

ul.views-fluid-grid-items-height-379 li.views-fluid-grid-item .views-field:first-of-type {
	border-bottom: 1px solid #aaaaaa;
	font-size:20px;
	padding-bottom:4px;
}


ul.views-fluid-grid-items-width-379 li.views-fluid-grid-item .field-content img {
    padding-right: 3px;
}






ul.views-fluid-grid-items-width-179 li.views-fluid-grid-item { 
	width: 100%; 
}

ul.views-fluid-grid-items-height-179 li.views-fluid-grid-item { 
	background-color:white;
	border:none;
	margin:1px;
	padding-bottom:20px;
}

ul.views-fluid-grid-items-height-179 li.views-fluid-grid-item .views-field:first-of-type {
	border-bottom: 1px solid #aaaaaa;
	font-size:24px;
	padding-bottom:6px;
}




ul.views-fluid-grid-items-width-179 li.views-fluid-grid-item .field-content img {
    padding-right: 5px;
}


li.views-fluid-grid-item {
	font-family: "Open Sans", "Arial", sans-serif;
}